<h1><%=@post.title %></h1>
<p><%=@post.content %></p>
 
 <%=link_to "Crear comentario", new_post_comment_path(@post)%>
<ul>
	<% @comments.each do |comment|%>
		<li>
			<%=comment.content%>
		</li>
	<%end%>
</ul>
